* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
}
*::-webkit-scrollbar-thumb{
    background-color: $gray;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

body {
    background-color: white;
    font-family: $century, sans-serif;
}

a {
    text-decoration: none;
    color: $black;
}

li {
    list-style: none;
}
