.sideMenu {
    animation: montrer .5s ease-in-out forwards;
    -webkit-animation: montrer .5s ease-in-out forwards;

}

.cacheSideMenu {
    animation: cacher .5s ease-in-out forwards;
    -webkit-animation: cacher .5s ease-in-out forwards;
}

.cmdSideBar {
    animation: moveUp .5s ease-in-out forwards;
    -webkit-animation: moveUp;
}

.changePlace {
    animation: moveDown 1s ease-in-out forwards;
    -webkit-animation: moveDown 1s ease-in-out forwards;
}

.cardProd::-webkit-scrollbar {
    background: $white;
    width: 5px;
}

.cardProd::-webkit-scrollbar-thumb {
    background: $gris;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.shopIllustration {
    animation: fadeIn 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-animation: fadeIn 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ctaVoirArticle {
    animation: drop 2s cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-animation: drop 2s cubic-bezier(0.19, 1, 0.22, 1);
}