@keyframes cacher {
  from {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    width: 120px;
    padding-inline: 12px;
    overflow: visible;
  }
  to {
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    width: 0;
    padding-inline: 0;
    overflow: hidden;
  }
}
@keyframes montrer {
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    width: 120px;
    padding-inline: 12px;
    overflow: visible;
  }
  from {
    /* display: block; */
    transform: translateX(-200px);
    -webkit-transform: translateX(-200px);
    -moz-transform: translateX(-200px);
    -ms-transform: translateX(-200px);
    -o-transform: translateX(-200px);
    width: 0;
    padding-inline: 0;
    overflow: hidden;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-100px);
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
@keyframes drop {
  from {
    opacity: 0;
    transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -moz-transform: translateY(200px);
    -ms-transform: translateY(200px);
    -o-transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  background-color: whitesmoke;
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f2937;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

body {
  background-color: white;
  font-family: "Century Gothic", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.sideMenu {
  animation: montrer 0.5s ease-in-out forwards;
  -webkit-animation: montrer 0.5s ease-in-out forwards;
}

.cacheSideMenu {
  animation: cacher 0.5s ease-in-out forwards;
  -webkit-animation: cacher 0.5s ease-in-out forwards;
}

.cmdSideBar {
  animation: moveUp 0.5s ease-in-out forwards;
  -webkit-animation: moveUp;
}

.changePlace {
  animation: moveDown 1s ease-in-out forwards;
  -webkit-animation: moveDown 1s ease-in-out forwards;
}

.cardProd::-webkit-scrollbar {
  background: whitesmoke;
  width: 5px;
}

.cardProd::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.shopIllustration {
  animation: fadeIn 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation: fadeIn 2.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.ctaVoirArticle {
  animation: drop 2s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-animation: drop 2s cubic-bezier(0.19, 1, 0.22, 1);
}

/*# sourceMappingURL=Style.css.map */
