@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: whitesmoke;
}


/* Animation d'apparition */
@keyframes dropdownShowAnimation {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Animation de départ */
@keyframes dropdownHideAnimation {
  from {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  to {
    opacity: 0;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    display: none;
}
}

.dropdownShow {
  animation: dropdownShowAnimation .5s ease-in-out ;
  -webkit-animation: dropdownShowAnimation .5s ease-in-out ;
}

.dropdownHide {
  animation: dropdownHideAnimation  .5s ease-in-out forwards;
  -webkit-animation: dropdownHideAnimation  .5s ease-in-out forwards;
}
